.FILETYPE ExtendedPrint SetupFile
.VERSION "VB99.0"
.CREATOR "Expedition PCB PDF Output"
.DATE "Tuesday, September 06, 2016 02:54 AM"

.BaseUnits "1NM"

.FillText Yes
.FitDrawing No
.PDFFileName "Output\\PDF\\PCB_Routage"


.SheetName "Current view"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView Yes
 ..HeaderText
   ...CommentLine "Current view"
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Solderpaste - Top"
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Board Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Board Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Default User Layer"
   ...LayerName "DRAWTRACE_CLEARANCEGEOM"
   ...LayerName "SVG Import"
   ...LayerName "Dimensions"
   ...LayerName "SVG Import battery"
   ...LayerName "DRC Assertion Assistant Layer"
   ...LayerName "DRC Assertion Assistant Layer:1"
   ...LayerName "DRC Assertion Assistant Layer:2"
   ...LayerName "QEDraw"
   ...LayerName "QEDraw2"
   ...LayerName "QEDraw3"
   ...LayerName "QEDrawText"

 ..ConductiveLayer 1
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem Thieving
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads

 ..ConductiveLayer 2
   ...ProcessLayer No
 ..BoardItem BoardOutline
 ..BoardItem SoldermaskTop
 ..BoardItem SolderpasteTop
 ..BoardCellType Buried
 ..BoardCellType Connector
 ..BoardCellType DiscreteAxial
 ..BoardCellType DiscreteChip
 ..BoardCellType DiscreteOther
 ..BoardCellType DiscreteRadial
 ..BoardCellType EdgeConnector
 ..BoardCellType EmbeddedPassive
 ..BoardCellType General
 ..BoardCellType Graphic
 ..BoardCellType ICBareDie
 ..BoardCellType ICBGA
 ..BoardCellType ICDIP
 ..BoardCellType ICFlipChip
 ..BoardCellType ICLCC
 ..BoardCellType ICOther
 ..BoardCellType ICPGA
 ..BoardCellType ICPLCC
 ..BoardCellType ICSIP
 ..BoardCellType ICSOIC
 ..BoardCellType Jumper
 ..BoardCellType Mechanical
 ..BoardCellType TestPoint

.OutputVariants NO
.VariantList "Master"

.EzPrintConfigFilePath ".\\CONFIG\\Current_view.xml"
