.FILETYPE ExtendedPrint SetupFile
.VERSION "VB99.0"
.CREATOR "Expedition PCB PDF Output"
.DATE "Tuesday, September 06, 2016 02:57 AM"

.BaseUnits "1NM"

.FillText Yes
.FitDrawing No
.PDFFileName ".\\Output\\PDF\\Assembly_Bottom"


.SheetName "AssemblyBottom"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine "Assembly Bottom"
 ..TrailerText
   ...CommentLine "Assembly Bottom"
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Board Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Board Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Default User Layer"
   ...LayerName "DRAWTRACE_CLEARANCEGEOM"
   ...LayerName "SVG Import"
   ...LayerName "Dimensions"
   ...LayerName "SVG Import battery"
   ...LayerName "DRC Assertion Assistant Layer"
   ...LayerName "DRC Assertion Assistant Layer:1"
   ...LayerName "DRC Assertion Assistant Layer:2"
   ...LayerName "QEDraw"
   ...LayerName "QEDraw2"
   ...LayerName "QEDraw3"
   ...LayerName "QEDrawText"

 ..ConductiveLayer 2
   ...ProcessLayer No

 ..ConductiveLayer 1
   ...ProcessLayer No
 ..BoardItem BoardOutline
 ..BoardCellType Buried
 ..BoardCellType Connector
 ..BoardCellType DiscreteAxial
 ..BoardCellType DiscreteChip
 ..BoardCellType DiscreteOther
 ..BoardCellType DiscreteRadial
 ..BoardCellType EdgeConnector
 ..BoardCellType EmbeddedPassive
 ..BoardCellType General
 ..BoardCellType Graphic
 ..BoardCellType ICBareDie
 ..BoardCellType ICBGA
 ..BoardCellType ICDIP
 ..BoardCellType ICFlipChip
 ..BoardCellType ICLCC
 ..BoardCellType ICOther
 ..BoardCellType ICPGA
 ..BoardCellType ICPLCC
 ..BoardCellType ICSIP
 ..BoardCellType ICSOIC
 ..BoardCellType Jumper
 ..BoardCellType Mechanical
 ..BoardCellType TestPoint
 ..CellItemsSide Both
   ...CellItemsLayer 2
   ...CellItem AssemblyOutline
   ...CellItem AssemblyReferenceDesignator

.OutputVariants NO
.VariantList "Master"

.EzPrintConfigFilePath ".\\CONFIG\\Print_Assembly_Bottom.xml"
